{% extends '/manage/index.twig' %}

{% set pageTitle = 'Books' %}

{% set bodyClass = ['books','itemList'] %}

{% block content %}
<h1 class="t-right">Books</h1>
<div>
    <a class="button success" href="/manage/books/create">+ New book</a>
</div>
{% if posts %}
    <section">
        {% for book in books %}
            <div class="p-8 p-top-0 p-bottom-0 b-1 b-solid b-color-softBlack">
                
            </div>
        {% endfor %}
    </section>
{% endif %}
    <p class="m-10-auto t-center">No books shelved yet.</p>
{% endblock %}